* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: url(/Images/image2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
  }
  
  header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  
  nav {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.03);
  }
  nav section {
    display: flex;
  }
  nav section h3 {
    color: #f1f1f3;
  }
  nav section ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  nav section ul li {
    cursor: pointer;
    color: #f1f1f3;
    font-size: 15pt;
  }
  nav section ul li a {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  nav section ul li #day {
    background-color: none;
    height: 10vh;
    width: 2cm;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
    font-weight: bolder;
    display: none;
  }
  nav section ul li button {
    background-color: #00ff99;
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 5px;
    display: none;
    transition: opacity 0.3s ease, transform 0.6s ease;
    cursor: pointer;
  }
  nav section ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: -10px;
  }
  nav #dateinfo {
    gap: 10px;
  }
  
  main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
  main div p {
    background-image: url(/src/main/resources/static/Images/image2.jpg);
    -webkit-text-fill-color: #f1f1f3;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 45pt;
    font-weight: bolder;
    cursor: none;
  }
  main div section {
    color: #f1f1f3;
  }
  main div section .date {
    font-size: 20pt;
  }
  main #card {
    --border-radius: 0.75rem;
    --primary-color: #7257fa;
    --secondary-color: #3c3852;
    width: 650px;
    height: 450px;
    font-family: "Arial";
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.03);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
  main #card blockquote {
    color: #f1f1f3;
  }
  main #card section p {
    font-size: 12pt;
    font-family: poppins;
    margin: 15px;
    font-weight: normal;
  }
  main #card section div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }
  main #card section div button {
    background-color: #333;
    color: #f1f1f3;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Inter", serif;
    font-size: 12pt;
    transition: 0.5s;
  }
  main #card section div button a {
    text-decoration: none;
    color: #f1f1f3;
  }
  main #card section div button:hover {
    background-color: #ff6347;
    font-weight: bolder;
  }
  main .card {
    --border-radius: 0.75rem;
    --primary-color: #7257fa;
    --secondary-color: #3c3852;
    width: 100%;
    height: 90vh;
    font-family: "Arial";
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: rgba(0, 0, 0, 0.03);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.03);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
  }
  
  #down {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 0;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    gap: 30PX;
    /*The css for the sections in the division*/
  }
  #down main {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
  #down main section {
    background: rgba(0, 0, 0, 0.03);
    width: 50%;
    height: 65vh;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(45px);
            backdrop-filter: blur(45px);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: unset;
  }
  #down main section form {
    height: 8cm;
    width: 10cm;
    background-color: #333;
    color: #f1f1f3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #down main section form #storypriority {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }
  #down main section form #storypriority input {
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "poppins", serif;
    font-size: 12pt;
    transition: 0.5s;
  }
  #down main section form #storypriority select {
    color: #333;
    border: none;
    padding: 10px;
    top: -0.3cm;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    font-family: "poppins", serif;
    font-size: 12pt;
    transition: 0.5s;
  }
  #down main section form #Storydescription {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }
  #down main section form #Storydescription textarea {
    height: 2cm;
    width: 8.9cm;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius: 10px;
    border-color: none;
    font-size: 12pt;
  }
  #down main section form #navigations button {
    background-color: #f1f1f3;
    color: #333;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Poppins", serif;
    font-size: 12pt;
    transition: 0.5s;
    width: 3cm;
  }
  #down main section form #navigations button:hover {
    background-color: #ff6347;
    font-weight: bolder;
  }
  
  .back-to-top {
    position: fixed;
    bottom: 50px;
    right: 100px;
    background-color: #333;
    color: #fff;
    border: none;
    height: 1.5cm;
    width: 1.5cm;
    border-radius: 100%;
    padding: 0px;
    font-size: 18px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
  }
  
  .back-to-top:hover {
    background-color: #ff6347;
    color: #f1f1f3;
  }
  
  .back-to-top.show {
    display: block;
    opacity: 1;
    transform: scale(1);
  }
  
  .cart-button.show {
    display: block;
    opacity: 1;
    transition: opacity 0.7s ease, transform 0.5s ease;
    transform: scale(1);
  }
  
  #down_arrow {
    display: none;
  }
  
  #cartPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8cm;
    width: 15cm;
    background: #f1f1f3;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  #cartPopup button {
    background-color: #00ff99;
    color: #000;
    cursor: pointer;
    border: none;
    outline: none;
    height: 1cm;
    padding: 10px;
    border-radius: 5px;
  }
  #cartPopup ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #cartPopup ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  @keyframes pulseGlow {
    0%, 100% {
      text-shadow: 0 0 10px #00ff99, 0 0 20px #00ff99, 0 0 30px #00ff99;
    }
    50% {
      text-shadow: 0 0 20px #00ff99, 0 0 30px #00ff99, 0 0 40px #00ff99;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 1em;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }/*# sourceMappingURL=Design.css.map */